## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
a=2
print(a)

2

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
constante=8.5
print(type(constante))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [6]:
f="Francisco Rombini"
print(f)

Francisco Rombini

5) Crear una variable que contenga un número complejo

In [9]:
z=4+4j
print(z)

(4+4j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [10]:
print(type(z))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [11]:
pi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [66]:
var1='True'
var2=True
print(var1==var2)

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [67]:
print('la variable creada var1 del punto 8 es: ',type(var1))
print('la variable creada var2 del punto 8 es: ',type(var2))

la variable creada var1 del punto 8 es:  <class 'str'>
la variable creada var2 del punto 8 es:  <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [69]:
suma_ent_deci=4+4.35 
print(suma_ent_deci)

8.35

11) Realizar una operación de suma de números complejos

In [20]:
compl1=10+5j
compl2=5+5j
print(compl1+compl2)

(15+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [21]:
z=3
w=4j
print(z+w)

(3+4j)

13) Realizar una operación de multiplicación

In [22]:
p=3
print(p*3)

9

14) Mostrar el resultado de elevar 2 a la octava potencia

In [23]:
h=2**8
print(h)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [28]:
g=27
d=4
print(g/d)

6.75

16) De la división anterior solamente mostrar la parte entera

In [29]:
print(g//d)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [30]:
print(g%d)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [70]:
a=4
b=g//d
c=g%d
print((a*b)+c)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [38]:
a="Francisco"
b="Rombini"
print(a+" "+b)

Francisco Rombini

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [39]:
var1="2"
var2=2
print(var1==var2) #el resultado es False porque la primera variable es del tipo str() y la segunda tipo int()

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [44]:
var3=int(var1)
print(var2==var3)
#o se puede expresar
print(int(var1)==var2)

True
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [45]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

In [52]:
a=float(3.8)
print(a)
print(type(a))

3.8
<class 'float'>

In [50]:
a=str("3.8")

In [53]:
#Arroja error que la variable a=("3,8") la cadena str(3,8) esta expresada con una coma(,) en vez de un punto(.)
#por eso no se puede convertir a float() la variable str()

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [54]:
a=3
a-=1
print(a)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [57]:
1<<2
# El número binario 1 se desplaza dos posiciones hacia la izquierda y se rellena con ceros a la derecha. 
# El resultado de esta operación es 4.
# 1 en binario representa como 0001, al aplicar el desplazamiento(<<) hacia la izq. el valor queda representado como 0100
#el resultado de 1<<2 en binario es 0100 y el resultado en decimal es 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [58]:
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [72]:
#no esta permitido porque se esta intentando sumar un valor tipo int() y otro tipo str()
a=2
b='2'
print(a+int(b))

4

In [73]:
#o tmb se puede hacer
print(str(a)+str(b))

22

26) Realizar una operación válida entre valores de tipo entero y string

In [63]:
a='Franky '
b=3
print(a*b)

Franky Franky Franky